/*--- Extends ---*/
main form .container-words-search input, main form select, main .list-countries .container-country {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

/*--- Variables ---*/
main {
  padding: 2rem 1.5rem;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

main form .container-words-search {
  max-width: 25rem;
  min-width: 10rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

main form .container-words-search input {
  background: var(--element);
  color: var(--text);
  width: 100%;
  border: none;
  height: 2.8rem;
  padding: 0 .8rem 0 2.5rem;
  border-radius: 0.25rem;
}

main form .container-words-search input::-webkit-input-placeholder {
  color: var(--text);
  opacity: 1;
}

main form .container-words-search input:-ms-input-placeholder {
  color: var(--text);
  opacity: 1;
}

main form .container-words-search input::-ms-input-placeholder {
  color: var(--text);
  opacity: 1;
}

main form .container-words-search input::placeholder {
  color: var(--text);
  opacity: 1;
}

main form .container-words-search .icon-search {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 1rem;
  color: var(--text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main form select {
  background: var(--element);
  width: 10rem;
  color: var(--text);
  border: none;
  height: 2.8rem;
  padding: 0 .8rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

main .list-countries {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

main .list-countries .container-country {
  background: var(--element);
  border-radius: 0.25rem;
  cursor: pointer;
}

main .list-countries .container-country .flag img {
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
}

main .list-countries .container-country .info-country {
  padding: 1rem;
}

main .list-countries .container-country .info-country ul {
  color: var(--text);
}

main .list-countries .container-country .info-country ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

main .list-countries .container-country .info-country ul li span {
  margin-left: .5rem;
  font-weight: 300;
}

main .list-countries .container-country .info-country ul li:first-child {
  font-size: 1.2rem;
  font-weight: 800;
}

/* Media queries */
@media (min-width: 375px) {
  main {
    padding: 2rem 1.5rem;
  }
  main .list-countries {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 640px) {
  main {
    padding: 2rem 4rem;
  }
  main .list-countries {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  main {
    padding: 2rem 4rem;
  }
  main .list-countries {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  main .list-countries {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */