<header id="home">
   <div class="limit-area header-elements">
      <h1>Where in the world?</h1>
      <div id="modeDark" class="animation-zoom">
         <i class="icon-brightness-contrast"> </i>
         <p>Dark Mode</p>
      </div>
   </div>
</header>
