<section class="form">
   <form>
      <div class="container-words-search animation-zoom">
         <label class="sr-only" for="inputSeachCountry"
            >Search for a country</label
         >
         <input
            type="text"
            id="inputSeachCountry"
            placeholder="Search for a country..."
         />
         <i class="icon-search"></i>
      </div>

      <label class="sr-only" for="selectRegion">Filter by Region</label>
      <select class="animation-zoom" name="regions" id="selectRegion">
         <option value="" disabled selected>Filtering by Region</option>
         <option>All</option>
      </select>
   </form>
</section>
